<div class="card">
    <h3 class="card-header">Login</h3>
    <form class="card-body" id="login-form">
        <label for="username-login" class="form-label">Username</label>
        <input type="text" autofocus="true" class="form-input" id="username-login" />
        <label for="password-login" class="form-label">Password</label>
        <input type="password" autofocus="true" class="form-input" id="password-login" />

        <div class="form-button-layout">
            <button class="btn" type="submit"><i class="fas fa-sign-in-alt" style="padding-right: 8px;"></i>Login</button>
            <button class="btn-outline"><a href="/signup" class="link-blue"><i class="fas fa-user-plus" style="padding-right: 8px;"></i>Sign Up</a></button>
        </div>
    </form>
</div>

<script src="./js/login.js"></script>
