<div class="card">
    <h3 class="card-header">Sign Up</h3>
    <form class="card-body" id="signup-form">
        <label for="username-signup" class="form-label">Username</label>
        <input type="text" id="username-signup" class="form-input" />
        <label for="password-signup" class="form-label">Password</label>
        <input type="password" id="password-signup" class="form-input" />

        <div class="form-button-layout">
            <button class="btn" type="submit">Sign Up</button>
            <button class="btn-outline"><a href="/login" class="link-blue"><i class="fas fa-sign-in-alt" style="padding-right: 8px;"></i>Login</a></button>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>