{{> post-info post}}

{{#if loggedIn}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">
        <label class="form-label">Comment</label>
        <input name="comment-body" id="comment" class="form-input" />
        <div class="form-button-layout">
            <button class="btn" type="submit">Submit</button>
        </div>
    </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comments.js"></script>
{{/if}}